
.App {
  margin: auto;
  max-width: 555px;
}

.chessBoard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, auto);
}

.square {
  aspect-ratio: 1;
  color: white;
  background-color: rgb(88, 50, 0);
}
.light {
  background-color: wheat;
}